<div class="container mt-3" >
  <kendo-tabstrip >
      <kendo-tabstrip-tab [title]="'Add Employee'" [selected]="true" [style]="'overflow-x: hidden;'">
      <ng-template kendoTabContent>
          <div class="row">
              <div class="col-xs-12 col-sm-6 example-col">
                  <p class="m-0">Employee Name*</p>
                  <kendo-textbox-container floatingLabel="Employee Name">
                      <input kendoTextBox />
                  </kendo-textbox-container>
              </div>
              <div class="col-xs-12 col-sm-6 example-col">
                  <p>Department*</p>
                  <kendo-combobox [data]="listItems" [value]="'Basketball'">
                  </kendo-combobox>
              </div>
          </div>
          <div class="row mt-3">
              <div class="col-xs-12 col-sm-6 example-col">
                  <p class="m-0">Employee code</p>
                  <kendo-textbox-container floatingLabel="Employee code">
                      <input kendoTextBox />
                  </kendo-textbox-container>
              </div>
              <div class="col-xs-12 col-sm-6 example-col">
                  <div class="example-wrapper" >
                      <p>Birthday</p>
                      <kendo-datepicker
                              [(value)]="value"
                      ></kendo-datepicker>

                  </div>
              </div>
          </div>
          <div class=" mt-3">
              <div  class="">
                  <div class="k-form-field row" style="align-items: center;">
                      <span class="col-2">Gender</span>

                      <div class="col-3">
                          <input type="radio" name="gender" id="female" class="k-radio">
                          <label class="k-radio-label" for="female">Female</label>
                      </div>
                      <div class="col-3">
                          <input type="radio" name="gender" id="male" class="k-radio" checked="checked">
                          <label class="k-radio-label" for="male">Male</label>
                      </div>
                      <div class="col-2">
                          <button kendoButton [primary]="true">ADD</button>
                      </div>
                  </div>
              </div>
          </div>

      </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab [title]="'Search Employee'" >
        <ng-template kendoTabContent>
            <div class="row">
                <div class="col-xs-12 col-sm-5 example-col">
                    <p class="m-0">Employee Name*</p>
                    <kendo-textbox-container floatingLabel="Employee Name">
                        <input kendoTextBox />
                    </kendo-textbox-container>
                </div>
                <div class="col-xs-12 col-sm-5 example-col">
                    <p>Department*</p>
                    <kendo-combobox [data]="listItems" [value]="'Basketball'">
                    </kendo-combobox>
                </div>
               <div class="col-xs-6 col-sm-2 example-col d-flex" style="align-items: flex-end;">
                   <button kendoButton [primary]="true">Search</button>
               </div>

            </div>
            <div class="row mt-5">
                <kendo-grid
                        [data]="gridView"
                        [pageSize]="pageSize"
                        [skip]="skip"
                        [pageable]="true"
                        (pageChange)="pageChange($event)"
                        [height]="500"
                        [selectable]="true"
                >
                    <kendo-grid-checkbox-column showSelectAll="true"></kendo-grid-checkbox-column>
                    <kendo-grid-column field="EmpName" title="Employee Name" [width]="300"></kendo-grid-column>
                    <kendo-grid-column field="EmpCode" title="Employee Code"></kendo-grid-column>
                    <kendo-grid-column field="Gender" title="Gender"></kendo-grid-column>
                    <kendo-grid-column field="DOF" title="Date Of Birth"></kendo-grid-column>
                </kendo-grid>
            </div>
        </ng-template>
       </kendo-tabstrip-tab>
    </kendo-tabstrip>
</div>
