<div class="example-wrapper">
  <button kendoButton *ngIf="!opened" (click)="open()">Open window</button>
  <p *ngIf="dataSaved">Data has been saved</p>
  <kendo-window [(top)]="windowTop" [(left)]="windowLeft" title="Please provide additional data" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="450"  [draggable]="isDraggable">

    <form class="k-form">
      <fieldset>
        <legend>User Details</legend>

        <label class="k-form-field">
          <span>First Name</span>
          <input class="k-textbox" placeholder="Your Name" />
        </label>
        <label class="k-form-field">
          <span>Last Name</span>
          <input class="k-textbox" placeholder="Your Last Name" />
        </label>
      </fieldset>

      <div class="text-right">
        <button type="button" class="k-button" (click)="close()">Cancel</button>
        <button type="button" class="k-button k-primary" (click)="submit()">Submit</button>
      </div>
    </form>

  </kendo-window>
</div>