<div class="container" >
    <div class="row">
        <div class="col-6">
            <app-dashboard-win left="100" top="80"></app-dashboard-win>
        </div>
        <div class="col-6">
            <app-dashboard-win top="80" left="100"  ></app-dashboard-win>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-dashboard-win top="550" left="100" ></app-dashboard-win>
        </div>
        <div class="col-6">
            <app-dashboard-win left="100" top="550" ></app-dashboard-win>
        </div>
    </div>

</div>
